@charset "BIG5";

h1 {
	
	
	display: flex;
	justify-content: center;
	align-content: center;
}

a {
	
	
	display: flex;
	justify-content: center;
	align-content: center;
}


p {
	
	
	display: flex;
	justify-content: center;
	align-content: center;
}

form{
	display: flex;
	justify-content: center;
	align-content: center;
}